<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{HH:mm:ss.SSS} %-5level %logger{32} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <!-- block jetty mess debug message-->
    <logger name="software.amazon.awssdk" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
